[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/coffee-script"]
  path = .vim/bundle/coffee-script
  url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/colors-solarized"]
  path = .vim/bundle/colors-solarized
  url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-rails"]
  path = .vim/bundle/vim-rails
  url = https://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/vim-vividchalk"]
  path = .vim/bundle/vim-vividchalk
  url = https://github.com/tpope/vim-vividchalk.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/colors-base16"]
	path = .vim/bundle/colors-base16
	url = https://github.com/chriskempson/base16-vim.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/xterm-color-table"]
	path = .vim/bundle/xterm-color-table
	url = git@github.com:chrishunt/xterm-color-table.vim.git
[submodule ".vim/bundle/gist-vim"]
	path = .vim/bundle/gist-vim
	url = git@github.com:mattn/gist-vim.git
[submodule ".vim/bundle/vim-endwise"]
	path = .vim/bundle/vim-endwise
	url = git@github.com:tpope/vim-endwise.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".vim/bundle/puppet-syntax-vim"]
	path = .vim/bundle/puppet-syntax-vim
	url = git@github.com:puppetlabs/puppet-syntax-vim.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule ".vim/bundle/vim-abolish"]
	path = .vim/bundle/vim-abolish
	url = git@github.com:tpope/vim-abolish.git
[submodule ".vim/bundle/Command-T.git"]
	path = .vim/bundle/Command-T.git
	url = https://github.com/wincent/Command-T.git
[submodule "vim-coffee-script"]
	path = vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/https:/github.com/wincent/Command-T.git"]
	path = .vim/bundle/https:/github.com/wincent/Command-T.git
	url = https://github.com/wincent/Command-T.git
[submodule ".vim/bundle/https:/github.com/scrooloose/nerdtree.git"]
	path = .vim/bundle/https:/github.com/scrooloose/nerdtree.git
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/https:/github.com/kchmck/vim-coffee-script.git"]
	path = .vim/bundle/https:/github.com/kchmck/vim-coffee-script.git
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/https:/github.com/altercation/vim-colors-solarized.git"]
	path = .vim/bundle/https:/github.com/altercation/vim-colors-solarized.git
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/https:/github.com/tpope/vim-markdown.git"]
	path = .vim/bundle/https:/github.com/tpope/vim-markdown.git
	url = https://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/https:/github.com/tpope/vim-rails.git"]
	path = .vim/bundle/https:/github.com/tpope/vim-rails.git
	url = https://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/https:/github.com/tpope/vim-vividchalk.git"]
	path = .vim/bundle/https:/github.com/tpope/vim-vividchalk.git
	url = https://github.com/tpope/vim-vividchalk.git
[submodule ".vim/bundle/https:/github.com/tpope/vim-surround.git"]
	path = .vim/bundle/https:/github.com/tpope/vim-surround.git
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/https:/github.com/tpope/vim-commentary.git"]
	path = .vim/bundle/https:/github.com/tpope/vim-commentary.git
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/https:/github.com/godlygeek/tabular.git"]
	path = .vim/bundle/https:/github.com/godlygeek/tabular.git
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/https:/github.com/chriskempson/base16-vim.git"]
	path = .vim/bundle/https:/github.com/chriskempson/base16-vim.git
	url = https://github.com/chriskempson/base16-vim.git
[submodule ".vim/bundle/https:/github.com/kien/ctrlp.vim.git"]
	path = .vim/bundle/https:/github.com/kien/ctrlp.vim.git
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/git:/github.com/epmatsw/ag.vim.git"]
	path = .vim/bundle/git:/github.com/epmatsw/ag.vim.git
	url = git://github.com/epmatsw/ag.vim.git
[submodule ".vim/bundle/git:/github.com/jelera/vim-javascript-syntax.git"]
	path = .vim/bundle/git:/github.com/jelera/vim-javascript-syntax.git
	url = git://github.com/jelera/vim-javascript-syntax.git
[submodule ".vim/bundle/git@github.com:chrishunt/xterm-color-table.vim.git"]
	path = .vim/bundle/git@github.com:chrishunt/xterm-color-table.vim.git
	url = git@github.com:chrishunt/xterm-color-table.vim.git
[submodule ".vim/bundle/git@github.com:mattn/gist-vim.git"]
	path = .vim/bundle/git@github.com:mattn/gist-vim.git
	url = git@github.com:mattn/gist-vim.git
[submodule ".vim/bundle/git@github.com:tpope/vim-endwise.git"]
	path = .vim/bundle/git@github.com:tpope/vim-endwise.git
	url = git@github.com:tpope/vim-endwise.git
[submodule ".vim/bundle/git@github.com:tpope/vim-fugitive.git"]
	path = .vim/bundle/git@github.com:tpope/vim-fugitive.git
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".vim/bundle/git@github.com:puppetlabs/puppet-syntax-vim.git"]
	path = .vim/bundle/git@github.com:puppetlabs/puppet-syntax-vim.git
	url = git@github.com:puppetlabs/puppet-syntax-vim.git
[submodule ".vim/bundle/git@github.com:tpope/vim-repeat.git"]
	path = .vim/bundle/git@github.com:tpope/vim-repeat.git
	url = git@github.com:tpope/vim-repeat.git
[submodule ".vim/bundle/git@github.com:tpope/vim-abolish.git"]
	path = .vim/bundle/git@github.com:tpope/vim-abolish.git
	url = git@github.com:tpope/vim-abolish.git
[submodule "/Users/jstremick/.vim/bundle/Command-T"]
	path = /Users/jstremick/.vim/bundle/Command-T
	url = https://github.com/wincent/Command-T.git
[submodule "/Users/jstremick/.vim/bundle/nerdtree"]
	path = /Users/jstremick/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "/Users/jstremick/.vim/bundle/vim-coffee-script"]
	path = /Users/jstremick/.vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "/Users/jstremick/.vim/bundle/vim-colors-solarized"]
	path = /Users/jstremick/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "/Users/jstremick/.vim/bundle/vim-markdown"]
	path = /Users/jstremick/.vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "/Users/jstremick/.vim/bundle/vim-rails"]
	path = /Users/jstremick/.vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "/Users/jstremick/.vim/bundle/vim-vividchalk"]
	path = /Users/jstremick/.vim/bundle/vim-vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule "/Users/jstremick/.vim/bundle/vim-surround"]
	path = /Users/jstremick/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "/Users/jstremick/.vim/bundle/vim-commentary"]
	path = /Users/jstremick/.vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "/Users/jstremick/.vim/bundle/tabular"]
	path = /Users/jstremick/.vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "/Users/jstremick/.vim/bundle/base16-vim"]
	path = /Users/jstremick/.vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "/Users/jstremick/.vim/bundle/ctrlp.vim"]
	path = /Users/jstremick/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "/Users/jstremick/.vim/bundle/vim-abolish"]
	path = /Users/jstremick/.vim/bundle/vim-abolish
	url = git@github.com:tpope/vim-abolish.git
[submodule "/Users/jstremick/.vim/bundle/vim-javascript-syntax"]
	path = /Users/jstremick/.vim/bundle/vim-javascript-syntax
	url = git://github.com/jelera/vim-javascript-syntax.git
[submodule "/Users/jstremick/.vim/bundle/xterm-color-table.vim"]
	path = /Users/jstremick/.vim/bundle/xterm-color-table.vim
	url = git@github.com:chrishunt/xterm-color-table.vim.git
[submodule "/Users/jstremick/.vim/bundle/gist-vim"]
	path = /Users/jstremick/.vim/bundle/gist-vim
	url = git@github.com:mattn/gist-vim.git
[submodule "/Users/jstremick/.vim/bundle/vim-endwise"]
	path = /Users/jstremick/.vim/bundle/vim-endwise
	url = git@github.com:tpope/vim-endwise.git
[submodule "/Users/jstremick/.vim/bundle/vim-fugitive"]
	path = /Users/jstremick/.vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "/Users/jstremick/.vim/bundle/puppet-syntax-vim"]
	path = /Users/jstremick/.vim/bundle/puppet-syntax-vim
	url = git@github.com:puppetlabs/puppet-syntax-vim.git
[submodule "/Users/jstremick/.vim/bundle/vim-repeat"]
	path = /Users/jstremick/.vim/bundle/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
